*{
    margin: 0;
    padding: 0;
}
body{
    width: 100; 
}
.top-sidebar{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid black;
    display: block;
    /*padding-left: 75px;*/
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width:80px;
  background: #dfff50;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  /*height: 90%;*/
}
.sidebar.open{
  width: 200px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
  color: black;
}
.sidebar .logo-details .logo_name{
  color: black;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  color: black;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 38px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  /*margin : 0 auto;*/
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar ul li .selected{
    background-color: #bebf9f;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar.open ~ .home-section{
  left: 200px;
  width: calc(100% - 200px);
}
.home-section{
  position: relative;
  background: white;
  min-height: 100vh;
  top: 0;
  left: 80px;
  width: calc(100% - 80px);
  /*width: 100%;*/
  transition: all 0.5s ease;
  /*z-index: 2;*/
  /*margin: 0 auto;*/
  /*float: left;*/
}

.web-name{
    /*border: 1px solid rgb(111, 100, 177);*/
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    background-color: black;
    padding: 0 10px;
    width: 80%;
}
.web-name a{
    color: yellow;
}
.web-name a:hover{
    color: white;
}
.web-name i .bx-run,.web-name strong i {
    padding: 0 5px;
    font-size: 30px;

}
/*CSS thanh tim kiem*/
.top-sidebar input[type=text] {
  padding: 6px;
  margin-top: 6px;
  font-size: 17px;
  border: none;
  width: 80%;
}
 
.top-sidebar .search-container button {
  float: right;
  /*padding: 6px 10px;*/
  margin-top: 6px;
  /*margin-right: 16px;*/
  background: #ddd;
  font-size: 15px;
  width: 50px;
  border: none;
  cursor: pointer;
  /*display: block;*/
}
 
.top-sidebar .search-container button:hover {
  background: #ccc;
}
.top-sidebar .search-container{
    /*margin-left: 30px;*/
    background-color: black;
    /*display: flex;*/
    /*margin-top: 5px;*/
}
 .top-sidebar .search-container form{ 
    display: flex;
    margin-top: 10px;
    /*margin-bottom: 20p;*/
  }

.contact{
    background-color: black; 
    /*line-height: 20px;*/
    /*width: 10%;*/
    height: 78px;
    display: flex;
    /*padding-right: 10px;*/
    /*margin-right: 1px;*/
    margin: 0 auto;
}
.contact .contact-list{
    /*border-left: 1px solid black ;*/
    border-radius: 30px;
    text-align: center;
    padding: 10px 24px;
    background-color: #eeff00;
    display: inline-block;
    font-size: small;
    margin: 10px 10px 10px 10px ;
}
.contact .contact-list:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.brand{
    /*display:inline-block;*/
    cursor: pointer;
    width: 100%;
    margin-left: 3px;
}
.brand img{
    width: 100%;
    height: 80px;
    border-radius: 30px;
    /*margin-left: 10px;*/
    margin: 0 auto;
}
.logo-brand{
    padding: 10px 25px;
    background-color: #b4f2fa;
    /*background-color: whitesmoke;*/
    /*border: 1px solid black;*/
}

.contact-list i{
    font-size: 30px;
}
.logo-brand:hover{
    background-color: whitesmoke;
}
.container-content {
    width: 100%;
    border: 1px solid black;
    /*margin-left: 20px;
    margin-top: 8px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*box-sizing: border-box;*/
}
.container-content .tab-selected{
    /*display: flex;*/
    padding: 10px;
    align-items: center;
    color: white;
    /*margin-left: 2px;*/
    background-color: #0bba80;
    padding-top: 10px;
}
.tab-selected h3{
    /*margin-left: 20px;*/
    text-align: center;
    font-size: 50px;
}
.laptop .filter{
    /*float: right;*/
    display: flex;
    /*margin-left: 800px;*/
    cursor: pointer;
}

.laptop .filter p{
    font-weight: bold;
    padding-top: 10px;
    margin-right: 5px;
}
.laptop .filter select{
    font-size: 15px ;
    padding: 9px;
    cursor: pointer;
    color: white;
    background-color: black;
}
article{
    padding: 25px;
}
/*.information*/
.information {
    background-color: #FFF;
    margin-bottom: 30px;
    border: 1px solid #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 10px;
}
.information:hover {
    border: 1px solid #F1DF8D;
    box-shadow: none;
}
.informations{
    display: flex;
    justify-content: space-evenly;
}
.information{
    border: 1px solid #FFF;
    /*width: 60%px;*/
    /*height: 400px;*/
    padding: 0px 15px 20px;
    overflow: hidden;
}
.information img{
    width: 100%;
    /*padding-top: 20px;*/
    /*text-align: left;*/
    /*align-content: center;*/
}
.information img:hover{
    transform: rotateY(25deg) ;
}
.order{
    background-color: red;
    bottom: -100px;
    /*color: black;*/
    font-size: 13px;
    left: 0;
    padding: 10px;
    position: absolute;
    transition: bottom 0.5s ease 0s;
    width: 100%;
    cursor: pointer;
    /*margin-bottom: 10px;*/
    text-align: center;
}
.order:hover {
    background-color: black;
    color: #FFF;
}
.information:hover .order {
    bottom: 0;
    transition: bottom 0.5s ease 0s;
}
.bying {
    /*padding: 5px 12px;*/
    color: #FFF;
    margin-top: 3px;
}
.bying:hover{
    color: white;
}
.details{
    padding-top: 10px;  
    margin-bottom: 10px;
}
.information li{
    font-size: small;
}
.information li:nth-child(1){
  font-size: 16px;
}
.information li:nth-child(1):hover{
  color: rgb(47, 47, 235);
}
li{
    list-style: none;
}
li.price{
    font-size: medium;
    font-weight: bold;
    color: red;
    font-size: 25px;
    margin: 20px 5px 0px 5px;
}
.laptop ul{
  margin: 20px;
}
select{
    /*box-sizing: border-box;*/
    border-radius: 20px;
}
footer{
    padding-top: 20px;
    padding-left: 150px;
    margin-top: 50px;
    background-color: rgb(250, 243, 243);
}
footer img{
    width: 60%;
}
.socials-share{
    font-size: 25px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
  [class*="col-"]{
    float: left;
    padding: 15px;
    width: 100%;
    }
.row::after{
    conten: "";
    clear: both;
    display: block;
    }
}
/*tablet*/
@media screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .top-sidebar input[type=text], .top-sidebar .search-container button {
        float: none;
        display: block;
        text-align: left;
        /*width: 100%;*/
        margin: 0;
        padding: 14px;
    }
    body{
        width: 100%;
        margin: 0 auto;
    }
  }
